.App {
  width: 100vw;
  min-height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
}

.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 3em;
}

.timer-btn {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

